@using P13.Models
@model Address

<div class="form-group">
    <label asp-for="Street" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
        <input asp-for="Street" class="form-control col-sm-6" type="text">
    </div>
</div>
<div class="form-group">
    <label asp-for="City" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
        <input asp-for="City" class="form-control col-sm-6" type="text">
    </div>
</div>
<div class="form-group">
    <label asp-for="State" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
        <input asp-for="State" class="form-control col-sm-6" type="text">
    </div>
</div>
<div class="form-group">
    <label asp-for="Postcode" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
        <input asp-for="Postcode" class="form-control col-sm-6" type="text">
    </div>
</div>
<div class="form-group">
    <label asp-for="Country" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
        <input asp-for="Country" class="form-control col-sm-6" type="text">
    </div>
</div>
