@using P04.Models
@model List<SRBooking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SingRoomLayout.cshtml";
}

<h2>All Bookings</h2>
<span style="color:red">@TempData["Msg"]</span>
<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th class="col-sm-1">Booking ID</th>
        <th class="col-sm-2">Name</th>
        <th class="col-sm-2">Booking Date</th>
    </tr>
    @foreach (SRBooking b in Model)
    {
        <tr>
            <td>@b.Id</td>
            <td>@b.Name</td>
            <td>@string.Format("{0:dd-MM-yyyy}", b.BookingDate)</td>
        </tr>
    }
</table>

