
@{
    ViewData["Title"] = "AboutUs";
    Layout = "_SingRoomLayout";
}

<h2>AboutUs</h2>

<p>
    We provides comprehensive facilities for passionate singers like you to train yourself to pursue the dream.
</p>
