@model List<SRBooking>

@{
   ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_SingRoomLayout.cshtml";
}

<h2>Students' Bookings </h2>
<span style="color:red">@TempData["Msg"]</span>
<table class="table table-bordered table-condensed table-hover table-striped">
   <tr>
      <th class="col-sm-1"><a asp-action="sort">Student ID</a></th>
      <th class="col-sm-2"><a asp-action="sort">Name</a></th>
      <th class="col-sm-2"><a asp-action="sort">NRIC/FIN</a></th>
      <th class="col-sm-2"><a asp-action="sort">Slot booked</a></th>
      <th class="col-sm-2"></th>
   </tr>
   @foreach (SRBooking b in Model)
   {
   <tr>
       <td>
           @b.Id
       </td>
       <td>
           @b.Name
   </td>
   <td>
       @b.Cost
   </td>
   <td>
       To be implemented
   </td>

   </tr>
       
   }
</table>
<div>
    <iframe allow="microphone;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/640b2a42-6f67-43c4-9efa-674e17a66d01"></iframe>
</div>

