
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to HES Students Academic Portal</h2>

<div style="font-family:Garamond;font-size:larger">
    <b>HES Students Academic Portal</b>, a self-service portal for HES students to view results online.
</div>

