@{
    string template = "http://api.fixer.io/latest?base={0}&symbols={1}";
	string url = String.Format(template,"SGD","USD");
	dynamic data = WebUtl.CallWebApi(url);
	double rateUSD = 0.8;
	if (data != null)
	{
		// TODO P10 Task 4-2 Assign the returned USD rate to variable rateUSD
		//rateUSD = rateUSD; // This code needs to be modified
		rateUSD = data.rates.USD;
	}
}

<!-- inserted by _CurrencySelector partial view -->
<script>
    var selectedCurrency = "SGD";
    var rateUSD = @rateUSD;
    var rateMYR = @rateMYR;

 
    function SetCurrency() {
        var qty = $("#txtQty").val();
        if ($(this).attr("id") == "lnkCurUSD"){
            selectedCurrency = "USD";
        }
        else if ($(this).attr("id") == "lnkCurMYR"){
            selectedCurrency = "MYR";
        }
        else{
            selectedCurrency = "SGD";
        }
        var newsrc = "/images_flag/" + selectedCurrency + ".png";
        $("#imgCurrency").attr("src", newsrc);
        $("#spnCurrency").html(selectedCurrency);
        CalcSubtotal();
    }

    $(document).ready(function () {
        $("#lnkCurSGD").click(SetCurrency);
        $("#lnkCurUSD").click(SetCurrency);
        $("#lnkCurMYR").click(SetCurrency);
    });
</script>

<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    <img id="imgCurrency" src="~/images_flag/SGD.png" height="20" width="30" /> <span id="spnCurrency">SGD</span>
    <span class="caret"></span>
</button>
<ul class="dropdown-menu">
    <li><a id="lnkCurSGD" href="#"><img src="~/images_flag/SGD.png" height="20" width="30" /><span>SGD</span></a></li>
    <li><a id="lnkCurUSD" href="#"><img src="~/images_flag/USD.png" height="20" width="30" /><span>USD</span></a></li>
    <li><a id="lnkCurMYR" href="#"><img src="~/images_flag/MYR.png" height="20" width="30" /><span>MYR</span></a></li>
</ul>
