@model MugOrder

@{
	ViewBag.Title = "New Mug Order";
}

<!-- TODO P09 Task 2-6 Use section directive to render the script in ScriptSection section defined in Layout.cshtml -->
@section ScriptSection{

	<script>
		function SetMugColor() {
			var selectedColor = $(this).val();
			$("#imgMug").css("background-color", selectedColor);
		};

		function SetPokemon() {
			// TODO P09 Task 2-3 use jQuery this selector and val() method to assign the value of the element that trigger this function to a variable named pokeid

			var pokeid = $(this).val();

			var newsrc = "/images/" + pokeid + "-200.png";

			// TODO P09 Task 2-4: use jQuery attr method to set the "src" attribute of element with id "imgPoke" to the value of the variable named newsrc
			$("#imgPoke").attr("src", newsrc);
		}

		$(document).ready(function () {
			// Change the colour of the Mug when different radio button is selected
			$("#rdColor1").change(SetMugColor);
			$("#rdColor2").change(SetMugColor);
			$("#ddlPoke").change(SetPokemon);
			$("form").submit(function () {
				confirm("Proceed? Press OK to confirm.");
			});

			// TODO P09 Task 2-5: use jQuery change Event method to call SetPokemon function whenever the value of select element with id ddlPoke changes

			// TODO P09 Task 2-6: use jQuery submit Event method to call javascript confirmation box with text "Proceed? Press OK to confirm" whenver there is a form submission
		});
	</script>
}

<h2>@ViewData["Title"]</h2>

<div class="row">
	<div class="col-sm-6">
		<form asp-controller="MugOrder" asp-action="Create" method="post" class="form-horizontal" role="form">
			<div class="form-horizontal">
				@{
					Html.RenderPartial("_MugOrder");
				}
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" value="Create" class="btn btn-default" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="divPreview" class="col-sm-6">
		<img id="imgMug" src="~/images/mug.png" style="position:absolute;left:0;top:0;width:300px;height:300px;" />
		<img id="imgPoke" src="" style="position:absolute;left:20px;top:70px;height:180px;width:180px" />
	</div>

</div>
