@model List<double>
<!-- Assume there is a layout -->
<!-- css formatting are skipped for brevity -->

<table border="1" width="150">

	<thead>

		<tr>

			<td>Debit</td>
			<td>Credit</td>

		</tr>

	</thead>

	<tbody>
		@{
			int x = 0;
			int y = 0;
			@foreach(x in )
			{


			}
		}

		<!-- Provide your answer in the space below -->

	</tbody>

</table>
