@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Problem 13</title>
</head>
<body>
    <h1>Problem 13 Static Index HTML</h1>
    <div>
        <a asp-controller="Demo" asp-action="DemoPartialView">Demo Partial View</a><br />
    </div>
    <div>
        <a asp-controller="Demo" asp-action="DemoPartialView2">Demo Partial View 2</a><br />
    </div>
    <div>
        <a asp-controller="Demo" asp-action="DemoPartialPageUpdate">Demo Partial Page Update</a><br />
    </div>
    <div>
        <a asp-controller="Demo" asp-action="DemoWebAPI">Demo Web API</a><br />
    </div>
    <hr />
    <h1>Exercises</h1>
    <div>
        <a asp-controller="Exercise" asp-action="ExercisePartialPageUpdate">1. Partial Page Update</a><br />
    </div>
    <div>
        <a asp-controller="Exercise" asp-action="ExerciseWebAPI">2. Web API</a><br />
    </div>
	<div>
		<a asp-controller="Membership" asp-action="Index">3. Problem Statement Index</a><br />
	</div>
	<div>
		<a asp-controller="Membership" asp-action="Update">4. Problem Statement Update</a><br />
	</div>
</body>
</html>