@model ShirtOrder

@{
    ViewBag.Title = "New Shirt Order";

}

@section ScriptSection {
    <script>
		function AjaxLoadShirt() {
			var color = "khaki";

			// TODO P10 Task 3-3 Use .is method to identify which radio button is checked and use val() method to assign the radio button's value to variable color
			if ($("#rdColor1").is(":checked")) {
				color = $("#rdColor1").val();
			}
			else if ($("#rdColor2").is(":checked")) {
				color = $("#rdColor2").val();
			}
			else if ($("#rdColor3").is(":checked")) {
				color = $("#rdColor3").val();
			}
			else if ($("#rdColor4").is(":checked")) {
				color = $("#rdColor4").val();
			}

			// TODO P10 Task 3-4 Use val() method to assign the current selected value of ddlPoke to variable pokedexid
			//var pokedexid = "";
			var pokedexid = $("#ddlPoke").val();

			// TODO P10 Task 3-5 Form the url to call the LoadMug action
			//    Sample: /MugOrder/LoadMug?color=white&pokedexid=10
			var url = "/ShirtOrder/LoadShirt?color=" + color + "&pokedexid=" + pokedexid;

			// TODO P10 Task 3-6 Use jQuery load method to call the LoadMug action and replace the content of divPreview with the returned result
			// $("#divPreview").??
			$("#divPreview").load(url);
		}
        // implement appropriate function here to use ajax to load shirt preview

        // the function below should be modified to support multiple currency: SGD, USD, MYR
        function CalcSubtotal() {
            var qty = $("#txtQty").val();
            var price = $("#txtPrice").val();
			var rate = 1;
			if (selectedCurrency == "USD")
				rate = rateUSD;
			var subtotal = qty * price * rate;
			$("#txtSubtotal").val(subtotal.toFixed(2));
		}
		function SetPosition() {
			var left = "60px";
			var right = "120px";
			var pos = this.value == 0 ? left : right;
			$("#imgPokeFront").position(pos);

		}

        $(document).ready(function () {
            // implement appropriate jQuery code here to load the shirt preview
			$("#rdColor1").change(AjaxLoadShirt);
			$("#rdColor2").change(AjaxLoadShirt);
			$("#rdColor3").change(AjaxLoadShirt);
			$("#rdColor4").change(AjaxLoadShirt);

			// TODO P10 Task 3-7 Call the AjaxLoadMug method when ddlPoke selection changed by user
			$("#ddlPoke").change(AjaxLoadShirt);

			$("#rdPosLeft").change(SetPosition);
			$("#rdPosRight").change(SetPosition);

            $("#txtQty").change(CalcSubtotal);
            $("#txtPrice").change(CalcSubtotal);

            $("form").submit(function () {
                confirm("Proceed? Press OK to confirm.");
            });
        });
    </script>
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-7">
        <form asp-controller="ShirtOrder" asp-action="Create" method="post" class="form-horizontal" role="form">
            <div class="form-horizontal">
                @{ 
                    Html.RenderPartial("_ShirtOrder");
                }
                <div class="form-group">
                    <label class="col-sm-4 control-label">Subtotal: </label>
                    <div class="col-sm-6" style="padding-right:15px">
                        <input id="txtSubtotal" class="form-control" readonly="readonly" value="0" />
                    </div>
                    <div class="col-sm-1" style="padding-left:0">
                        @{
							Html.RenderPartial("_ShirtCurrencySelector");
						}
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="divPreview" class="col-sm-offset-1 col-sm-4" >
        @{
			// TODO P10 Task 3-8 Use Html.RenderPartial to render partial view _ShowMug with an empty MugOrder object as model
			// Html.RenderPartial...

			Html.RenderPartial("_ShowShirt", new ShirtOrder());
		}
    </div>

</div>
