<h1>C286 Problem 3</h1>
<div class="jumbotron">
   At the end of this problem, you will be able to
   <ul class="list-group">

      <li class="list-group-item">Differentiate between var and dynamic keywords</li>
      <li class="list-group-item">Define and Use Nullable types</li>
      <li class="list-group-item">Define and Use Expando objects</li>
      <li class="list-group-item">Call DBUtl GetList for SELECT sqls</li>
      <li class="list-group-item">Call DBUtl ExecSQL for INSERT sqls</li>
      <li class="list-group-item">Apply Tag Helpers to create a form for input</li>
      <li class="list-group-item">Use HttpPost attribute for action to process form data</li>

   </ul>
</div>

