@{
    Layout = "_ExLayout";
}

@{
    var myRation =
new List<Snack> {
         new Snack("Eclair", 2.5, 12),
         new Snack("Muffin", 5.43, 41)
};
}

@{ int i = 0; }
@while (i < myRation.Count)
{
    var p = myRation[i];
    <div>Name: @p.Name</div>
    <div>Price: @p.Price</div>
    <div>Stock:  @p.Stock</div>
    i++;
}



